// INIT /* Inizio */

.noscroll {
    overflow: hidden;
}

a,
a:hover { 
    text-decoration: none; 
    color: #ffffff;
}

p {
    color: #ffffff;
}

.fixed-menu {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    @include border-radius(0);
    
}


.nav {
    margin:0!important;
}

.navbar-nav > li > a, .navbar-brand {
    padding: 10px;
    
    height: 40px;
    max-height: 40px;
}

.navbar {
    min-height:40px !important;
    background-color: #ffffff!important;
    margin: 0px!important;
    border: 0px!important;
    
    a,
    a:hover {
        color: #000000;
    }
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

#main {
    //font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0 auto;
}

// jQueryUI resizable CSS
.ui-icon { width: 16px; height: 16px; background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }

// INIT /* Fine */

// Categorie /* INIZIO */

.bg-storia { 
    background-color: $category-storia; 
    li a:hover {
        @extend .bg-storia-dark;
    }
}
.bg-storia-70perc { background-color: $category-storia-70per; }
.bg-storia-50perc { background-color: $category-storia-50per; }
.bg-storia-20perc { background-color: $category-storia-20per; }
.bg-storia-light { background-color: $category-storia-lighten }
.bg-storia-dark { 
    background-color: $category-storia-darken;
    li a:hover {
        @extend .bg-storia;
    }
}

.bd-storia { border-color: $category-storia; border-style: solid; }
.bd-storia-light { border-color: $category-storia-lighten; border-style: solid; }
.bd-storia-dark { border-color: $category-storia-darken; border-style: solid; }

.bg-scienza { 
    background-color: $category-scienza; 
    li a:hover {
        @extend .bg-scienza-dark;
    }
}
.bg-scienza-70perc { background-color: $category-scienza-70per; }
.bg-scienza-50perc { background-color: $category-scienza-50per; }
.bg-scienza-20perc { background-color: $category-scienza-20per; }
.bg-scienza-light { background-color: $category-scienza-lighten; }
.bg-scienza-dark { 
    background-color: $category-scienza-darken; 
    li a:hover {
        @extend .bg-scienza;
    }
}

.bd-scienza { border-color: $category-scienza; border-style: solid; }
.bd-scienza-light { border-color: $category-scienza-lighten; border-style: solid; }
.bd-scienza-dark { border-color: $category-scienza-darken; border-style: solid; }

.bg-tecnologia { 
    background-color: $category-tecnologia; 
    li a:hover {
        @extend .bg-tecnologia-dark;
    }
}
.bg-tecnologia-70perc { background-color: $category-tecnologia-70per; }
.bg-tecnologia-50perc { background-color: $category-tecnologia-50per; }
.bg-tecnologia-20perc { background-color: $category-tecnologia-20per; }
.bg-tecnologia-light { background-color: $category-tecnologia-lighten; }
.bg-tecnologia-dark { 
    background-color: $category-tecnologia-darken; 
    li a:hover {
        @extend .bg-tecnologia;
    }
}

.bd-tecnologia { border-color: $category-tecnologia; border-style: solid; }
.bd-tecnologia-light { border-color: $category-tecnologia-lighten; border-style: solid; }
.bd-tecnologia-dark { border-color: $category-tecnologia-darken; border-style: solid; }

.bg-storia-della-scienza { 
    background-color: $category-storia-della-scienza; 
    li a:hover {
        @extend .bg-storia-della-scienza-dark;
    }
}
.bg-storia-della-scienza-70perc { background-color: $category-storia-della-scienza-70per; }
.bg-storia-della-scienza-50perc { background-color: $category-storia-della-scienza-50per; }
.bg-storia-della-scienza-20perc { background-color: $category-storia-della-scienza-20per; }
.bg-storia-della-scienza-light { background-color: $category-storia-della-scienza-lighten; }
.bg-storia-della-scienza-dark { 
    background-color: $category-storia-della-scienza-darken; 
    li a:hover {
        @extend .bg-storia-della-scienza;
    }
}

.bd-storia-della-scienza { border-color: $category-storia-della-scienza; border-style: solid; }
.bd-storia-della-scienza-light { border-color: $category-storia-della-scienza-lighten; border-style: solid; }
.bd-storia-della-scienza-dark { border-color: $category-storia-della-scienza-darken; border-style: solid; }

.bg-fisica { 
    background-color: $category-fisica; 
    li a:hover {
        @extend .bg-fisica-dark;
    }
}
.bg-fisica-70perc { background-color: $category-fisica-70per; }
.bg-fisica-50perc { background-color: $category-fisica-50per; }
.bg-fisica-20perc { background-color: $category-fisica-20per; }
.bg-fisica-light { background-color: $category-fisica-lighten; }
.bg-fisica-dark { 
    background-color: $category-fisica-darken; 
    li a:hover {
        @extend .bg-fisica;
    }
}

.bd-fisica { border-color: $category-fisica; border-style: solid; }
.bd-fisica-light { border-color: $category-fisica-lighten; border-style: solid; }
.bd-fisica-dark { border-color: $category-fisica-darken; border-style: solid; }

.bg-chimica { 
    background-color: $category-chimica; 
    li a:hover {
        @extend .bg-chimica-dark;
    }
}
.bg-chimica-70perc { background-color: $category-chimica-70per; }
.bg-chimica-50perc { background-color: $category-chimica-50per; }
.bg-chimica-20perc { background-color: $category-chimica-20per; }
.bg-chimica-light { background-color: $category-chimica-lighten; }
.bg-chimica-dark { 
    background-color: $category-chimica-darken; 
    li a:hover {
        @extend .bg-chimica;
    }
}

.bd-chimica { border-color: $category-chimica; border-style: solid; }
.bd-chimica-light { border-color: $category-chimica-lighten; border-style: solid; }
.bd-chimica-dark { border-color: $category-chimica-darken; border-style: solid; }

// Categorie /* FINE */

.simple-button,
.simple-button:hover {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: none;
    @include border-radius(0px);
    @include box-shadow(inset, 0, 0, 0, 0, rgba(0,0,0,0));
    
    outline: none !important;
}

.frame-prev {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top:0px;
    border-width: 0px;
    
    .cover-prev-img {
        position:absolute; 
        width: 100%; 
        height: 100%;
        display: none;
        padding: 45px 20px;
        //font-size: 50px;
        
        button,
        button:hover {
            @extend .simple-button;
            
            span {
                font-size: 50px;
                color: #ffffff;
            }
        }
    }
}

.video-info {
    position: relative;
    padding: 10px;
    bottom: 0px;
    width: 100%;
    z-index: 110;

    a { text-decoration: none; color: #ffffff}

    .date { 
        font-size: 12px;
        font-weight: 100; 
    }
    .title { font-size: 22px; font-weight: 300; }
    .author { font-size: 12px;  font-weight: 100; margin: 0px; }

}

.video-prev {
    width: 320px;
    //min-width:20%;
    height: 284px;
    //height: auto;
    margin-bottom:10px;
    
    .prev_cover {
        position:absolute; 
        width:100%; 
        height:100%; 
        background:black; 
        z-index:120; 
        top:0px; 
        left:0px
    }
    
    .ombra_dx {
        @include box-shadow(inset, 50px, 0, 50px, -20px, rgba(0,0,0,0.7));
        position:absolute; 
        width:150px; 
        height:100%; 
        right:-150px; 
        top:0px
    }
    
    .ombra_sx {
        @include box-shadow(inset, -50px, 0, 50px, -20px, rgba(0,0,0,0.7));
        position:absolute; 
        width:150px; 
        height:100%; 
        left:-150px; 
        top:0px
    }
    
    .video-img {
        .inner-video-img {
            overflow:hidden;
            margin: auto;
            padding: atuo;
            height: auto;
        }
    }
    
    
    
    p.title {
        @include text-truncate;
    }
    
    .video-instruments{
        position: relative;
        width: 100%;
        padding: 4px;
        z-index: 100; 
        height:26px;
        margin-bottom: -26px;
        
        button,
        button:hover {
            color: #ffffff;
        }
        
        .dropdown-menu {
            @include border-radius(0);
            @include box-shadow(null, 0,0,0,0, rgba(0,0,0,0));
            border:0px;
            
            a,
            a:hover {
                color:#ffffff;
            }
        }
    }
}

.post-open {
    width: 100%;
    background-color: #fedcba
}

// Modal video info /* INIZIO */

.draggable-box {
    display:none; 
    position:absolute!important; 
    z-index: 1000; 
    background: #ffffff; 
    width:50%; 
    height: 50%; 
    top:40px;
    left:40px;
    //overflow:hidden;
    //overflow-y: scroll;
    @include box-shadow(null ,0, 0, 90px, 0, rgba(0,0,0,1));
    
    .header {
        color: #ffffff!important;
        position:absolute; 
        top:0px; 
        left:0px; 
        width:100%;
        padding: 4px;
        z-index: 1000;
        
        a,
        a:hover {
            color: #ffffff!important;
        }
    }
    
    .content {
        position:relative; 
        top:0px; 
        left:0px; 
        width:100%; 
        height:100%; 
        overflow: hidden; 
        overflow-y: scroll;
        padding-top:35px;
        
        h3 {
            padding-right:10px;
            padding-left:10px;
        }

        p {
            padding: 0 10px 20px 10px;
            color: #000000!important;
        }
    }
}

youtube {
    display:block;
    position:absolute;
    top:0px;
    left:0px;
}

#floating_player {
    display: none;
    position: fixed;
    top: 50px;
    left: 30px;
    background: #ffffff;
    z-index: 10000;
    width: 320px;
    //height: 284px; 
    height:180px;
    //overflow: hidden;
    @include box-shadow(null, 0, 0, 100px, 30px, rgba(0, 0, 0, 0.5));
    
    .video-info {
        position:absolute; 
        bottom:0px; 
        z-index:-1
    }
    
    #play-video-floating {
        font-size: 50px; 
        font-size: 50px;
        color: #ffffff;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        margin-left: -25px;
        left: 50%;
    }
    
    .header {
        
        position: absolute;
        padding:4px;
        width: 100%;
        top:0px;
        left:0px;

        button,
        button:hover {
            color: #ffffff !important;
        }
    }
}

.modal-info-video {
    //position: fixed;
    //display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    //height: 100%;
    //max-height: 100%;
    z-index: 10000000000;
    padding: 30px!important;
    //overflow-y: scroll;
    overflow-x: auto!important;
    
    a,
    a:hover {
        color: #000000;
    }
    
    .modal-dialog-info-video {
        position: relative;
        //margin: 0 auto;
        margin: 0;
        width:100%;
        height: 100%;
        background: #ffffff;
        //overflow: hidden;
        -webkit-box-shadow: 0 0 100px 30px rgba(0,0,0,0.5);
        box-shadow: 0 0 100px 30px rgba(0,0,0,0.5);
        
        .modal-content-info-video {
            width: 100%;
            position: relative;
            height: 100%;
            
            .header {
                width: 100%;
                padding: 4px;
                
                position:absolute; 
                z-index:1000;
                top:0px;
                left:0px;
                
                button,
                button:hover {
                    color: #ffffff !important;
                }
                
                .dropdown-menu {
                    @include border-radius(0);
                    @include box-shadow(inset, 0, 0, 0, 0, rgba(0, 0, 0, 0));
                    border:0px;
                    margin:0;
                    li a {
                        color: #ffffff!important;
                    }
                }
            }
            
            .body {
                //width: 100%;
                
                position: relative;
                width: 100%;
                //top: -28px!important;
                top: 0px;
                padding-bottom: 100px;
                height: 100%;
                top: 0px;
                //padding-top: 28px;
                margin: 0px;
                padding-top: 28px;
                
                div .img-video {
                    position: relative;
                    //width: 100%;
                    min-height: 350px; 
                    overflow: hidden;
                    
                    img {
                        display: block; 
                        margin: 0 auto;
                    }
                    
                }
                
                div .video-info-modal {
                    position: absolute;  
                    width: 100%; 
                    margin: 0px;
                    z-index: 101;
                    bottom: 0px;
                    left: 0px;
                    padding: 10px;
                    margin: 0px;
                    font-size: 30px; 
                    font-weight: 100;

                    a,
                    a:hover {
                        color: #ffffff !important;
                    }

                    p{
                        margin-bottom: 0px;
                    }

                    .date {
                        font-size: 12px; font-weight: 300;
                        button {
                            border: 0px;
                            @include border-radius(0);
                            @include box-shadow(inset, 0,0,0,0, rgba(0,0,0,0));
                            margin-right: 5px;
                            padding:3px;
                            color: #ffffff;
                            line-height: 1em;
                        }
                    }

                    .title {
                        font-size: 30px; font-weight: 100;
                    }

                    .author {
                        font-size: 14px; font-weight: 300;
                    }
                }
                    
                div .sfondo-grid {
                    position:absolute; 
                    width:100%; 
                    height:100%; 
                    z-index:100; 
                    top: 0px; 
                    left: 0px; 
                    background: url(../img/gridtile.png);
                    padding-bottom: inherit;
                    
                    /*div#video-cont {
                        position: absolute!important; 
                        width:100%!important; 
                        height:100%!important; 
                        top:0px!important; 
                        padding-bottom:inherit!important;
                    }*/
                }
                
                .comments {
                    padding: 10px;
                    color: #9b9b9b;
                    border-top: 1px #9b9b9b solid;
                    
                    .commenti-info {
                        margin: 0 auto; 
                        display: block;
                        
                        span {
                            font-size: 9px
                        }
                    }
                    
                    .box-comments {
                        //height: 0px;
                        height:auto;
                        max-height: 500px;
                        overflow: hidden;
                        overflow-y: scroll;
                    }
                }
            }
            
            .dati-video{
                bottom: 0px;
                position: absolute;
                width: 100%;
            }
            
            .description {
                
                .img-if-auth {
                    display:table-cell;
                    
                    .if {
                        font-size: 37px;
                        font-weight: 100;
                        vertical-align: middle;
                        padding:0 12px;
                    }
                    
                    button {
                        @extend .simple-button;
                        padding: 5px;
                        background: red;
                        color: #ffffff;
                    }
                    
                    a {
                        padding-left: 12px;
                    }
                }
                
                .visioni-punteggio {
                    display:table-cell;
                    padding: 12px 27px;
                    font-weight: 100;
                    
                    span {
                        font-size: 20px;
                        vertical-align: middle;
                    }
                    .glyphicon-triangle-bottom {
                        color: red;
                        padding-right: 12px;
                    }
                    .glyphicon-triangle-top {
                        color: green;
                        padding-left: 12px;                    
                    }
                }
                    
                .categorie {
                    padding: 12px 12px 0 12px;

                    .titolo-categorie {
                        display: table-cell;
                        color: #9b9b9b;

                        span {
                            vertical-align: middle;
                        }
                    }


                }

                .testo-descrizione {
                    padding: 12px 5px 0 12px;

                    .titolo-descrizione {
                        color: #9b9b9b;
                    }

                    .testo {
                        height: auto;
                        max-height: auto;
                        overflow: hidden;
                        overflow-y: scroll;
                        margin-bottom:80px
                    }

                }

                .tags {
                    padding: 12px 5px 5px 12px;

                    .titolo-tags {
                        color: #9b9b9b;
                    }
                    .corpo-tags {
                        @include text-truncate;
                    }

                    a {
                        display: inline-block;
                        padding:3px;
                        margin-left: 5px;
                        background-color: #98EFFC;
                        color: #006;
                        text-decoration: underline;
                        font-size: 12px;
                        font-weight: 300;

                        &:hover {
                            text-decoration: none;
                        }
                    }


                }
            }
                
            .footer {
                position: relative;
                width: 100%;
            }
        }
    }
}

// Modal video info /* FINE */

#queue-box {
    position:fixed; 
    bottom:0px; 
    width:100%; 
    z-index:1000;
    background-color: #000000;
    
    #handle-queue-box {
        color: #ffffff;
        display:block; 
        margin:0 auto; 
        z-index:10;
        margin-top: -14px;
        
    }
    
    #queue-box-cont {
        z-index:0;
        @include box-shadow(null, 0, 0, 100px, 30px, rgba(0,0,0,0.5));
        p.messaggio {
            width:100%;
            text-align: center;
            color:#ffffff;
            padding:20px;
            margin:0px;
        }
    }
}

.trapezoid {
    border-bottom: 14px #000000 solid;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    height: 0;
    width: 140px;
}

#items {
    margin: 0 auto; padding: 8px; 
    border: 1px solid #ddd; }
section {
    margin: 0 auto; padding: 8px 0 0 8px; 
    border: 1px solid #ddd; }
section article { 
    margin: 0 8px 8px 0; padding: 4px; 
    border: 1px solid #ddd; }
