@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,100);

$category-storia                      : #FBB829;                        // Giallo
$category-storia-70per                : rgba($category-storia, 0.7);    // Giallo alpha 70%
$category-storia-50per                : rgba($category-storia, 0.5);    // Giallo alpha 50%
$category-storia-20per                : rgba($category-storia, 0.2);    // Giallo alpha 20%
$category-storia-darken               : darken($category-storia, 10%);  // Giallo scuro
$category-storia-lighten              : lighten($category-storia, 20%); // Giallo chiaro

$category-scienza                     : #543511;                         // Marrone
$category-scienza-70per               : rgba($category-scienza, 0.7);    // Marrone alpha 70%
$category-scienza-50per               : rgba($category-scienza, 0.5);    // Marrone alpha 50%
$category-scienza-20per               : rgba($category-scienza, 0.2);    // Marrone alpha 20%
$category-scienza-darken              : darken($category-scienza, 10%);  // Marrone scuro
$category-scienza-lighten             : lighten($category-scienza, 20%); // Marrone chiaro

$category-tecnologia                  : #F02311;                            // Rosso 
$category-tecnologia-70per            : rgba($category-tecnologia, 0.7);    // Rosso alpha 70%
$category-tecnologia-50per            : rgba($category-tecnologia, 0.5);    // Rosso alpha 50%
$category-tecnologia-20per            : rgba($category-tecnologia, 0.2);    // Rosso alpha 20%
$category-tecnologia-darken           : darken($category-tecnologia, 10%);  // Rosso scuro 
$category-tecnologia-lighten          : lighten($category-tecnologia, 20%); // Rosso chiaro 

$category-storia-della-scienza        : #7FAF1B;                                        // Verde
$category-storia-della-scienza-70per  : rgba($category-storia-della-scienza, 0.7);      // Verde alpha 70%
$category-storia-della-scienza-50per  : rgba($category-storia-della-scienza, 0.5);      // Verde alpha 50%
$category-storia-della-scienza-20per  : rgba($category-storia-della-scienza, 0.2);      // Verde alpha 20%
$category-storia-della-scienza-darken : darken($category-storia-della-scienza, 10%);    // Verde scuro
$category-storia-della-scienza-lighten: lighten($category-storia-della-scienza, 20%);   // Verde chiaro

$category-fisica                      : #FF9999;                        // Rosa
$category-fisica-70per                : rgba($category-fisica, 0.7);    // Rosa alpha 70%
$category-fisica-50per                : rgba($category-fisica, 0.5);    // Rosa alpha 50%
$category-fisica-20per                : rgba($category-fisica, 0.2);    // Rosa alpha 20%
$category-fisica-darken               : darken($category-fisica, 10%);  // Rosa scuro
$category-fisica-lighten              : lighten($category-fisica, 20%); // Rosa chiaro

$category-chimica                     : #327CCB;                         // Blu
$category-chimica-70per               : rgba($category-chimica, 0.7);    // Blu alpha 70%
$category-chimica-50per               : rgba($category-chimica, 0.5);    // Blu alpha 50%
$category-chimica-20per               : rgba($category-chimica, 0.2);    // Blu alpha 20%
$category-chimica-darken              : darken($category-chimica, 10%);  // Blu scuro
$category-chimica-lighten             : lighten($category-chimica, 20%); // Blu chiaro